*

!/.env.example
!/.gitignore
!/.htaccess
!/.lando.yml
!/.yxorp.php
!/app.json
!/bugsnag.phar
!/docker-compose.yml
!/Dockerfile
!/git.sh
!/guzzle.phar
!/README.md

!/.github/*
!/asset/*
!/cache/*
!/dashboard/*
!/helper/*
!/http/*
!/override/default/*
!/override/www.example.com/*
!/plugin/*