[submodule "xn--gme-nnb.com"]
	path = xn--gme-nnb.com
	url = git@github.com:donPabloNow/game.com.git
[submodule "xn--ply-onb.com"]
	path = xn--ply-onb.com
	url = git@github.com:donPabloNow/play.com.git
