*

!.env.example
!.gitignore
!.htaccess
!.lando.yml
!yxorP.php
!app.json
!bugsnag.phar
!docker-compose.yml
!Dockerfile
!git.sh
!guzzle.phar
!README.md
!demo.php
!index.php

!.github/
!bin/
!asset/
!cache/
!helper/
!http/
!override/
!config/
!migrations/
!config/_example.php/
!override/www.example.com/
!override/default/
!dashboard/

!bin/*
!migrations/*
!config/*
!plugin/*
!src/
!src/*
!plugin/
!.github/*
!asset/*
!cache/*
!dashboard/*
!helper/*
!http/*
!override/default/*
!override/www.example.com/*
!plugin/*