Action application/x-pair-sphp /cgi-bin/php8.cgi
AddType application/x-pair-sphp .php
<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /
	RewriteCond %{REQUEST_FILENAME} !-f
	RewriteCond %{REQUEST_FILENAME} !-d
	RewriteRule . index.php [L]
</IfModule>
