body, x, z {
    display: block;
}

*, html {
    box-sizing: border-box;
}

html {
    overflow: hidden;
    overflow-y: visible;
    height: initial;
    min-height: 100vh;
    background-image: url('/default-loading.gif');
    background-color: #000;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    filter: opacity(.99) saturate(1.5) hue-rotate(-25deg);
    -webkit-font-smoothing: antialiased
}

body {
    opacity: 0 !important;
    -webkit-animation: 2.5s ease-out fadeInFromNone;
    -moz-animation: 2.5s ease-out fadeInFromNone;
    -o-animation: 2.5s ease-out fadeInFromNone;
    animation: 2.5s ease-out fadeInFromNone
}

html.don body {
    opacity: 1 !important;
    z-index: 1
}

@-webkit-keyframes fadeInFromNone {
    0% {
        display: none;
        opacity: 0
    }
    1% {
        display: block;
        opacity: 0
    }
    100% {
        display: block;
        opacity: 1
    }
}


@keyframes fadeInFromNone {
    0% {
        display: none;
        opacity: 0
    }
    1% {
        display: block;
        opacity: 0
    }
    100% {
        display: block;
        opacity: 1
    }
}

* {
    transition: .2s;
    outline: 0
}
