html {
    overflow: hidden;
    overflow-y: visible;
    width: 100%;
    height: initial;
    background-image: url('/default-loading.gif') !important;
    background-color: #000 !important;
    background-position: center center !important;
    background-repeat: no-repeat !important;
    background-attachment: fixed !important;
}

z, x {
    display: block;
}

body {
    opacity: 0 !important;
}

html.don body {
    opacity: 1 !important;
}

cloudflare-app {
    position: absolute !important;
}
