@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

html, body, body > div {
    background-color: rgba(255, 255, 255, 0.5)
}

html {
    font-family: 'Roboto', sans-serif;
    filter: invert(1) hue-rotate(180deg);
}

html img {
    filter: invert(1) hue-rotate(180deg);
}


body {
    background-image: url("/bg.gif") !important;
    background-position: center center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    background-attachment: fixed !important;
    top: initial !important;
}

body, .footer, footer {
    opacity: 0;
}

* {
    transition: all 1s ease;
}

html.don body, html.don .footer {
    opacity: 1;
}
