<?php

$finder = PhpCsFixer\Finder::create()
    ->in(__DIR__)
    ->notPath('lib/Spyc.php')
    ->notPath('lib/Parsedown.php')
    ->notPath('lib/ParsedownExtra.php')
    ->notPath('lib/Lime/App.php')
;

return PhpCsFixer\Config::create()
    ->setUsingCache(false)
    ->setRules([
        'header_comment' => ['header' => $header, 'separate' => 'bottom', 'commentType' => 'PHPDoc'],
    ])
    ->setFinder($finder)
;
