strong {
    color: #0b5990 !important;
}

.footer .content p {
    padding-right: 100px !important;
}

body {
    width: 100% !important;
    height: initial !important;
}

.footer {
    min-height: initial !important;
}

* {
    box-sizing: border-box !important;
}

.title-main__name--link:hover * {
    color: #fff !important;
}

a.language__item span {
    display: inline-block !important;
}

#relatedGames .c-products__item h3,
#side-games-panel .c-products__item h3 {
    margin-bottom: 10px !important;
}

.menu-hide .main {
    padding-left: 0 !important;
    padding-right: 95px !important;
}

@media (min-width: 801px) {
    #menu-main {
        right: 0 !important;
    }

    .main {
        padding-left: 0 !important;
        padding-right: 115px !important;

    }
}

flexible {
    background-color: red !important;
    -webkit-animation: super-rainbow 15s infinite alternate linear !important;
    -moz-animation: super-rainbow 15s infinite alternate linear !important;
}

.installMsg b, .welcomeMsg b {
    font-weight: bold !important;
    text-shadow: 1px 1px 5px #5600ff !important;
    font-size: 14px !important;
    color: #ff00d4 !important;
}

@media (min-width: 1200px) {
    .size--w-2-12 {
        width: 16.666666666667% !important;
    }

    .size--w-3-12 {
        width: 25% !important;
    }

    .size--w-8-12 {
        width: 66.666666666667% !important;
    }

}

#menu-main ul li:first-child {
    display: none !important;
}

#menu-main {
    z-index: 9999999999 !important;
    background: linear-gradient(182deg, #444444, transparent) !important;
}

header.header {
    position: fixed !important;
    width: 100% !important;
    background-color: rgb(239 7 7 / 85%) !important;
}

html.don body {
    background-image: url('/default-bg.gif?3') !important;
    background-color: #000 !important;
    background-position: center center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    background-attachment: fixed !important;
}

#main {
    margin-top: 76px !important;
    background: linear-gradient(180deg, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.8), transparent) !important;
}
